header {
    background-color: #FF8093;
    color: #1A1A1A;
    padding: 1rem;
    font-size: 20px;
    
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 

    > nav {
        display: flex;
        justify-content: center; 
        align-items: center;

        > ul {
            list-style: none;
            display: flex;
            gap: 2rem;

            > li {
                a {
                    color: #1A1A1A;
                    text-decoration: none;
                    font-weight: bold;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}